services:
  neo4j:
    container_name: neo4j
    image: neo4j:5.26.16-community
    restart: always
    volumes:
        - ./logs:/logs
        - ./config:/config
        - ./data:/data
        - ./plugins:/plugins
    environment:
        - NEO4J_AUTH=neo4j/your_password
    ports:
      - "7474:7474"
      - "7687:7687"
    networks: 
      - public

networks:
  public:
    external: true