services:
  postgres:
    image: postgres:18
    # image: pgvector/pgvector:pg18
    container_name: postgres
    restart: always
    ports: 
      - 5432:5432
    volumes: 
      - ./data:/data/postgresql
    environment:
      PGDATA: /data/postgresql
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    privileged: true
    networks: 
      - public
      
  adminer:
    image: adminer
    container_name: postgres-adminer
    restart: always
    ports:
      - 5430:8080  
    networks: 
      - public
  
  postgres-exporter:
    image: bitnami/postgres-exporter
    container_name: postgres-exporter
    restart: always
    ports: 
      - 9187:9187
    external_links:
      - postgres:postgres
    environment:
      DATA_SOURCE_NAME: postgresql://root:root@postgres:5432?sslmode=disable
    networks: 
      - public

networks:
  public:
    external: true