services:
  redis:
    image: redis:8.2.3
    container_name: redis
    restart: always
    command: redis-server /usr/local/etc/redis/conf/redis.conf
    volumes: 
      - ./conf:/usr/local/etc/redis/conf
    ports: 
      - 6379:6379
      - 16379:16379
    #搭建集群时,网络改为host模式
    networks: 
      - public
      
networks:
  public:
    external: true   